* {
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}

header {
    margin: 40px;
}

main{
    display: flex;
    text-align: center;
    margin: 15px auto;
}

.entrada-encriptador {
    width: 60%;
}

.saida-encriptador {
    width: 35%;
}

#entrada-texto {
    font-weight: 400;
    font-size: 32px;
    line-height: 1.5;
    color: #0A3871;
    border-color: #0A3871;
    text-align: left;
    vertical-align: top;
}

footer {
    text-align: center;
    bottom: 0px;
    width: 100%;
    margin: 0 auto;
    padding: 5px 0;
    position: fixed;
    background: linear-gradient(transparent, 90%,aqua);
}

footer * {
    background-color: transparent;
}